In [1]:
import pandas as pd
import os
import shutil
import numpy as np

In [5]:
data_dir = '/home/samuel-linux/PycharmProjects/Personal/FantasyBasketball/Data/roto-files'
cleaned_data_dir = f'{data_dir}/cleaned'
ignore = ['cleaned', 'txt-files', '.ipynb_checkpoints', 'shifted']
csv_paths = [i for i in os.listdir(data_dir) if i not in ignore]

### Columns 
          
`roto_columns = ['GID', 'Last, First', 'First  Last', 'Date', 'Team', 'Opp', 'H/A',
       'GameID', 'GTime(ET)', 'Team pts', 'Opp pts', 'Start', 'Minutes', 'GP',
       'active', 'FDP', 'DKP', 'DDP', 'YHP', 'Stats', 'DoubleD', 'TripleD',
       'FD Sal', 'FD Change', 'DK Sal', 'DK Change', 'DD Sal', 'DD Change',
       'YH Sal', 'YH Change', 'FD pos', 'DK pos', 'DD pos', 'YH pos']`

In [6]:
def map_date(x):
    x = str(x)
    year = x[:4]
    month = x[4:6]
    day = x[6:]
    return f'{year}-{month}-{day}'

def map_name(x):
    x = x.split(', ')
    first = x[-1]
    last = x[0]
    name = f'{first} {last}'
    return name

original_columns = ['GID', 'Last, First', 'Date', 'Team', 'Opp', 'H/A',
       'GameID', 'GTime(ET)', 'Team pts', 'Opp pts', 'Start', 'Minutes', 'GP',
       'active', 'FDP', 'DKP', 'DDP', 'YHP', 'Stats', 'DoubleD', 'TripleD',
       'FD Sal', 'FD Change', 'DK Sal', 'DK Change', 'DD Sal', 'DD Change',
       'YH Sal', 'YH Change', 'FD pos', 'DK pos', 'DD pos', 'YH pos']
new_columns = ['GID', 'Player', 'Date', 'Team', 'Against', 'Home', 
               'GameID', 'GameTime', 'TeamPoints', 'OppPoints', 
              'Starting', 'Minutes', 'Appeared', 'Active',
               'FDP', 'DKP', 'DDP', 'YHP', 'Stats', 'DoubleD', 'TripleD', 
              'FDSal', 'FDChange', 'DKSal', 'DKChange', 'DDSal', 'DDChange', 'YHSal',
              'YHChange', 'FDPos', 'DKPos', 'DDPos', 'YHPos']
# for n, o in zip(new_columns, original_columns): 
#     print(f'{n}\t{o}')
# breakpoint()
pieces = []
rename_dict = {o:n for o, n in zip(original_columns, new_columns)}
for path in csv_paths:
    full_path = f'{data_dir}/{path}'
    try:
        df = pd.read_csv(full_path, delimiter = ':')[[i for i in original_columns]]
        df.Date = df.Date.map(map_date)
        df.Date = pd.to_datetime(df.Date)
        df['Last, First'] = df['Last, First'].map(map_name)
        df.rename(columns = rename_dict, inplace = True)
        df.to_csv(f'{cleaned_data_dir}/{path}', index = False)
        pieces.append(df)
    except KeyError:
        print(f'\nError in File: {path}\n')
        print('~' * 50)
        continue
full_df = pd.concat(pieces)
full_df.to_csv(f'{cleaned_data_dir}/Combined.csv', index = False)

Error in File: 2014-15.csv

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [73]:
def map_stats(row):
#     x = x.Stats
   
#     x_split = x.split(' ')
#     test = ['StatsTest', 'Pts', 'Rbs', 'FG', 'FG%', 'FT', 'FT%', 'Ass', 'Bl', '3pt', '3pt%']
#     return [0 for i in range(len(test))]
    stats = row.Stats
    if str(stats) == 'nan': 
        return None
    stats_split = stats.split(' ')
    stat_dict = {'Pts': None, 'Rbs': None, 'FG': None, 'FG%': None, 'FT': None, 
                 'FT%': None, 'Ass': None, 'Bl': None, '3pt': None, '3pt%': None}
    for stat in stats_split:
        if 'pt' in stat:
            stat = stat[:stat.find('pt')]
            stat_dict['Pts'] = stat
            continue
        if 'rb' in stats:
            stat = stat[:stat.find('rb')]
            stat_dict['Rbs'] = stat
    for key, value in stat_dict.items():
        row[key] = value
    return pd.Series(row)
#     return_list = [value for key, value in stat_dict.items()]
#     return return_list
    

stat_df = pd.DataFrame(columns = ['Pts', 'Rbs', 'FG', 'FG%', 'FT', 'FT%', 'Ass', 'Bl', '3pt', '3pt%'])
stat_df = full_df[['Stats']].head(100).apply(map_stats, axis = 1, result_type = 'expand')

In [74]:
stat_df

0                                                  None
1     Stats    6pt 4rb 3-3fg
Pts                  6
...
2     Stats    3pt 2rb 1bl 1-1fg 1-2ft
Pts          ...
3     Stats    3pt 2rb 1bl 1-1fg 1-2ft
Pts          ...
4     Stats    10pt 3rb 2to 1trey 4-4fg 1-2ft
Pts   ...
                            ...
95                                                 None
96                                                 None
97                                                 None
98                                                 None
99                                                 None
Length: 100, dtype: object

In [21]:
full_df[['Stats', 'StatsTest']]

,Stats,StatsTest
0,NaN,None
1,6pt 4rb 3-3fg,"[6pt, 4rb, 3-3fg]"
2,3pt 2rb 1bl 1-1fg 1-2ft,"[3pt, 2rb, 1bl, 1-1fg, 1-2ft]"
3,3pt 2rb 1bl 1-1fg 1-2ft,"[3pt, 2rb, 1bl, 1-1fg, 1-2ft]"
4,10pt 3rb 2to 1trey 4-4fg 1-2ft,"[10pt, 3rb, 2to, 1trey, 4-4fg, 1-2ft]"
...,...,...
1016,18pt 5rb 1as 1bl 2to 3trey 5-9fg 5-5ft,"[18pt, 5rb, 1as, 1bl, 2to, 3trey, 5-9fg, 5-5ft]"
1017,15pt 5rb 2as 1to 3-5fg 9-10ft,"[15pt, 5rb, 2as, 1to, 3-5fg, 9-10ft]"
1018,NaN,None
1019,5pt 1rb 2as 2st 1trey 2-9fg,"[5pt, 1rb, 2as, 2st, 1trey, 2-9fg]"
1020,15pt 4rb 1st 1to 5-12fg 5-6ft,"[15pt, 4rb, 1st, 1to, 5-12fg, 5-6ft]"

In [16]:
full_df.StatsTest.unique()

TypeError: unhashable type: 'list'